{% extends "baseadmin.html" %}
{% load static %}
{% block content %}

  <div class="md:hidden flex justify-between items-center bg-gray-800 text-white p-4 rounded-md shadow-md mb-6">
        <h1 class="text-2xl font-bold mb-6 flex items-center space-x-2">
            <img src="{% static 'gambar/logo.png' %}" alt="Logo" class="w-8 h-8">
            <span>GAPOKTAN</span>
        </h1>
        <button @click="isSidebarOpen = !isSidebarOpen" class="focus:outline-none">
            <i class="fas fa-bars"></i>
        </button>
    </div>

<div class="flex-1 p-6 transition-all duration-200 ease-in-out">
    <header class="mb-8">
        <h1 class="text-3xl font-bold text-gray-700">Tambah Grup</h1>
    </header>
    {{ form.media }}
    <div class="bg-white shadow rounded-lg p-6">
        <form action="" method="post" enctype="multipart/form-data" class="space-y-6">
            {% csrf_token %}
            {{ form.as_p }}
            <div class="flex justify-end">
                <button type="submit" class="bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600">
                    Simpan
                </button>
            </div>
        </form>
    </div>
</div>
{% endblock content %}
